.margin-block {
        margin-top:50px;
        text-align: center;
        }
.margin-block table {
        border-collapse: collapse;
        width: 100%;
        margin: auto;
        align: center;
        font-family: Tahoma;
        }
.margin-block input {
        margin-top: 50px;
        width: 80%;
        height: 40px;
        text-align: center;
    }
.td {
        width: 9%;
        border: 1px solid black;
        box-sizing: border-box;
        }
.bold_td {
        width: 9%;
        border: 4px solid black;
        box-sizing: border-box;
    }
.num {
       width: 9%;
        border: none;
        box-sizing: border-box;
        text-align: right;
    }
.button {
  display: inline-block;
  background: #2196f3;
  color: #fff;
  padding: 10%;
  border-radius: 30px;
  text-decoration: none;
  font-family: Tahoma;
  font-size: 200%;
  width: 80%;
  line-height: 1;
  font-weight: 100;
}
.question {
    margin-top: 30px;

}