.body-select-level {
    margin: 0;
    padding: 0;
    font-family: Vag World, sans-serif;
    box-sizing: border-box;
}

.header-select-level {
    background-color: #f1f1f1;
    padding: 5px;
    text-align: center;
    margin-bottom: 25vh;
    padding-top: 15px;
}

.button-container-select-level {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-select-level {
    width: 90%;
    height: 60px;
    margin: 15px;
    padding: 10px;
    background-color: orange;
    font-family: Vag World, sans-serif;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 22px;
}



.body-mode1 {
    margin: 0;
    padding: 0;
    font-family: Vag World, sans-serif;
    box-sizing: border-box;
}

.header-mode1 {
    background-color: #f1f1f1;
    padding: 5px;
    text-align: center;
    padding-top: 15px;
}

.main-mode1 {
    margin-top: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    wight: 90vw;
    height: 45vh;

.table {
        border-collapse: collapse;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

.td {
        width: 30px;
        height: 30px;
        text-align: center;
        border: 1px solid black;
    }


}
.img-mode1 {
    position: absolute;
    width: auto;
    height: auto;
    max-width: 90vw;
    max-height: 100vh;
}

.button-container-mode1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-height: 100vh;
    background-color: #333;
    padding: 10px;
    box-sizing: border-box;
}

.button-container-mode1 button {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    padding: 10px;
    color: black;
    background-color: #4CAF50;
    font-family: Vag World, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}