{% extends "base.html" %}
{% block content %}
<div class="margin-block">
    <p>Нажмите на цифры вопроса и введите ответы на очетинском языке в таблицу.
        После того как таблица будет заполнена, введите в ответ слово выделенное в жирной рамке на русском языке
        (Вместо «Æ» можно использовать сочетание «АЕ»)
    </p>
</div>
<div class="margin-block">
<table>
{% for line in cross %}
    <tr>
        {% for el in line %}
            {% if el %}
                {% if el[0].islower() %}
                    <td class="{{el[-1]}}">{{el[0].upper()}}</td>
                {% elif el[0].isdigit() %}
                    <td class="{{el[-1]}}"><a href="/add_word{{el[1]}}">{{el[0]}}</a></td>
                {% else %}
                    <td class="{{el[-1]}}"></td>
                {% endif %}
            {% else %}
                <td class="td" style="border: none"></td>
            {% endif %}
        {% endfor %}
    </tr>
{% endfor %}
</table>
</div>
     <div class="question">
         <ol>
        {% for ques in descr %}
         <li>
             <p>{{ques}}</p>
         </li>
         {% endfor %}
         </ol>
    </div>
<form method="POST" action="/final_check">
<table>
    <td><h2 style="margin-top: 5px">Ответ: </h2></td>
    <td><input type="text" style="margin-left: 30px" name="quest"></td>
</table>
<div class="margin-block">
    <button class="button" type="submit" name="ans" value="{{ans}}">Проверить ответы</button>
</div>
    <p>{{res}}</p>
</form>
{% endblock %}