{% extends "base.html" %}
{% block content %}
<form method="POST">
<link rel="stylesheet" href="static/css/crossword.css">
<!--<div class="margin-block">-->
<!--<table id="myTable"></table>-->

<!--<script>-->
<!--    var table = document.getElementById('myTable');-->

<!--    for (var i = 0; i < 10; i++) {-->
<!--        var row = table.insertRow();-->
<!--        for (var j = 0; j < 10; j++) {-->
<!--            var cell = row.insertCell();-->
<!--            cell.id = 'cell_' + i + '_' + j;-->
<!--        }-->
<!--    }-->
<!--</script>-->
<!--</div>-->
<div class="margin-block">
<table class="table">
{% for line in cross %}
    <tr>
        {% for el in line %}
            {% if el %}
                {% if el.islower()%}
                    <td class="td" style="border: 3px solid black">
                        <input style="font-weight:bold;" maxlength="2" oninput="this.value = this.value.toUpperCase()"/>
                    </td>
                {% elif el.isdigit()%}
                    <td class="tdd">{{el}}</td>
                {% else %}
                    <td class="td">
                        <input maxlength="2" oninput="this.value = this.value.toUpperCase()"/>
                    </td>
                {% endif %}
            {% else %}
                <td class="tdd"></td>
            {% endif %}
        {% endfor %}
    </tr>
{% endfor %}
</table>
</div>
     <div class="question">
         <ol>
        {% for ques in descr %}
         <li>
             <p>{{ques}}</p>
         </li>
         {% endfor %}
         </ol>
    </div>
<table>
    <td><h2 style="margin-top: 5px">Ответ: </h2></td>
    <td><input style="margin-left: 30px" name="ans"></td>
</table>
<div class="margin-block">
    <a class="button" href="/check">Проверить ответы</a>
</div>
    <p>{{res}}</p>
{% endblock %}
</form>