{% extends "base.html" %}
{% block content %}
<form method="POST">
<div class="margin-block">
<table>
{% for line in cross %}
    <tr>
        {% for el in line %}
            {% if el %}
                {% if el[0].islower()%}
                    <td class="{{el[-1]}}">{{el[0].upper()}}</td>
                {% else %}
                    <td class="{{el[-1]}}"></td>
                {% endif %}
            {% else %}
                <td class="td" style="border: none"></td>
            {% endif %}
        {% endfor %}
    </tr>
{% endfor %}
</table>
</div>
     <div class="question">
         <ol>
        {% for ques in descr %}
         <li>
             <p>{{ques}}</p>
         </li>
         {% endfor %}
         </ol>
    </div>
<table>
    <td><h2 style="margin-top: 5px">Ответ: </h2></td>
    <td><input style="margin-left: 30px" name="ans"></td>
</table>
<div class="margin-block">
    <a class="button" href="/check">Проверить ответы</a>
</div>
    <p>{{res}}</p>
</form>
{% endblock %}